<p>whateverrr</p>
<div class="banner">
  <div class="container">
    <h1>The List</strong></h1>
  </div>
</div>


<div id="lists" class="container">
  <% @lists.each do |list| %>
    <%= link_to list.name, list_path(list) %>

  <% end %>
</div>
<div class="text-center">
  <%= link_to "New list", new_list_path, class: "btn btn-primary mb-5" %>
</div>
